#bar { background-color: #152420;}
main { background-image: url(../images/heroback.jpg);

}


 .inline{
    display:inline;
 }

 
         h1{
        display: unset;
        }
          body {
            background: transparent;
          }
          
          .element {
            list-style: disc;
            padding: 0;
            margin: 0;
           

         }
 

/* ===============================
Mobile Styles: 0px to 641px
===============================
*/
@media only screen and (max-width: 641px) {
    nav {
      
        display: block;
    }
   
       h1{
          display: none;
          
          }
          body, main{
            background: linear-gradient(#e66465, #9198e5);
            
          }
          .inline{
            display:block;
         }
          
 }
.reset{
    list-style-type: disc;
    overflow: auto;
    float: none;
    display: block;
}
